# React Native
node_modules/
build/
dist/
.gradle
.cocoapods/
Pods/
*.jsbundle
*.ipa
*.xcarchive

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
.history

# OS
.DS_Store
Thumbs.db

# Build artifacts
android/app/build/
android/app/release/
android/.gradle/
ios/Pods/
ios/Podfile.lock
