[submodule "apps/scadenze_dispensa"]
	path = apps/scadenze_dispensa
	url = https://github.com/MarcoDiGioia/scadenze-dispensa.git
	branch = develop
[submodule "apps/ricorda_farmaci"]
	path = apps/ricorda_farmaci
	url = https://github.com/MarcoDiGioia/ricorda-farmaci.git
	branch = develop
[submodule "apps/luna"]
	path = apps/luna
	url = https://github.com/MarcoDiGioia/luna.git
	branch = develop
